@charset "UTF-8";


.wrapper {
	width: 100%;
	height: auto;
	border: 1px solid blue;
}

.brands_title {
	width: 100%;
	text-align: center;
	border: 1px solid red;
	padding: 50px 0px;
}

.brands_title h1 {
	font-size: 4rem;
	font-weight: bold;
}


.display_flex {
	display: flex;
	width:100%;
	height: 1024px;
	min-height: 320px;
}

.brands_hit,.brands_hits {
	height: 100%;
}

.brands_hit {
	width: 40%;
}

.brands_hit img {
	width: 100%;
	height: 100%;
	object-fit : cover;
	display: flex;
}

.brands_hits {
	width: 60%;
}

.brands_hits_items {
	display : flex;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	align-items: center;
	
}


.hits_items {
	width : 30%;
	height: 300px;
	background-color: #ccc;
}


.container {
	width: 100%;
	height: auto;
	border: 1px solid red;
}


