:root {
    --light-gray: #F5F5F5;
    --gray: #E0E0E0;
    --dark-gray: #222222;
    --white: #FFFFFF;
    --white50: #FFFFFF50;
    --white80: #FFFFFF80;
    --black: #0A0A0A;
    --black50: #0A0A0A50;
    --black80: #0A0A0A80;
    --black90: #0A0A0A90;
    --id-color: #A48374;
    --txt-color-light: #555555;
    --txt-color-gray: #777777;
    --font-size-big: 2.6rem;
    --font-size-xxxl: 2.4rem;
    --font-size-xxl: 2.2rem;
    --font-size-xl: 2rem;
    --font-size-lg: 1.8rem;
    --font-size-md: 1.6rem;
    --font-size-sm: 1.4rem;
    --font-size-xs: 1.2rem;
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 200;
}


html {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.body {
    width: calc(100vw - (100vw - 100%));
    background-color: var(--light-gray);
    overflow-x: hidden;
}

strong {
    font-weight: var(--font-weight-medium);
}

.display-flex {
    display: flex;
}

.title {
    font-size: var(--font-size-xxxl);
    font-weight: var(--font-weight-bold);
    margin-bottom: 2rem;
}

.btn-component01 {
    text-align: center;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-regular);
    padding: 1rem 2.8rem;
    width: fit-content;
    border: 1px solid var(--white50);
    background-color: var(--black50);
    display: flex;
    align-items: center;
}

.btn-component02 {
    text-align: center;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-regular);
    padding: 1rem 2.8rem;
    width: fit-content;
    background-color: var(--white50);
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    min-height: 90vh;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}

.swiper-button-prev.prev-no-bg {
    width: 40px;
    height: 40px;
    opacity: 0.5;
    content: url(../images/icons/arrow-prev_white.svg);
    left: var(--swiper-navigation-sides-offset, 20px);
}

.swiper-button-next.next-no-bg {
    width: 40px;
    height: 40px;
    opacity: 0.5;
    content: url(../images/icons/arrow-next_white.svg);
    right: var(--swiper-navigation-sides-offset, 20px);
}

/* header (S) */
.header {
    width: 100%;
    font-size: var(--font-size-sm);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: linear-gradient(to top, transparent, var(--black50));
    transition: 0.35s;
}

.header.header-scroll {
    background: none;
    background-color: var(--white80);
    top: -4vh;
}

.header-wrap {
    width: 100%;
    flex-direction: column;    
}

.header-topbanner {
    height: 4vh;
    background-color: var(--black);
    transition: 0.35s;
    text-align: center;
    position: relative;
    z-index: 100;
}

.header-topbanner a {
    color: var(--id-color);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    line-height: 4vh;
}

.header-contents {
    padding: 3rem 4rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-menuicon {
    width: 30px;
    height: 30px;
    display: none;
}

.header-menuicon img {
    width: 100%;
    height: 100%;
}

.gnb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: var(--font-weight-medium);
}

.gnb > ul {
    gap: 1.5rem;
}

.gnb > ul li > a {
    padding: 1rem 2rem;
}

.search-icon button {
    cursor: pointer;
}

.header-icons > ul {
    gap: 1rem;
}

.login-icon {
    margin-left: 4rem;
}

/* mobile header */
.header-contents__Mobile {
    background: linear-gradient(to top, transparent, var(--black50));
    display: none;
    height: 10vh;
    transition: background-color 0.45s;
    position: relative;
    z-index: 99;
}

.m-header__icons {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    align-items: center;
    justify-content: space-between;
}

.m-header__menu {
    width: 30px;
    height: 30px;
    position: relative;
}

.m-header__menu img {
    transition: 0.25s;
    width: 100%;
    top: 0;
    position: absolute;
}

.m-login-icon {
    width: 27px;
    height: 27px;
    position: relative;
}

.m-login-icon img {
    transition: 0.25s;
    width: 100%;
    top: 0;
    position: absolute;
}

.m-menuicon-black, .m-lockicon-black {
    opacity: 0;
}

.header-contents__Mobile > .logo {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.header-contents__Mobile > .logo > a {
    width: 90px;
    height: 40px;
    position: relative;
}

.header-contents__Mobile > .logo > a img {
    position: absolute;
    transition: 0.25s;
}

.logo-black {
    opacity: 0;
}

.header-contents__Mobile.header-Mobile-scroll {
    background: transparent;
    background-color: var(--white50);
}

.header-contents__Mobile.header-Mobile-scroll .logo-white {
    opacity: 0;
}

.header-contents__Mobile.header-Mobile-scroll .logo-black {
    opacity: 1;
}

.header-contents__Mobile.header-Mobile-scroll .m-menuicon-white,
.header-contents__Mobile.header-Mobile-scroll .m-lockicon-white {
    opacity: 0;
}

.header-contents__Mobile.header-Mobile-scroll .m-menuicon-black,
.header-contents__Mobile.header-Mobile-scroll .m-lockicon-black {
    opacity: 1;
}

/* header (E) */

/* menubox */
.menubox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background: #999;
    padding-top: 10vh;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(calc(-100% - 4vh));
}

.menubox.open {
    display: block;
    transform: translateY(0);
    opacity: 1;
}

.menubox-list {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    flex-direction: column;
    justify-content: center;
    color: var(--light-gray);
    padding-bottom: 1rem;
}

.menubox-list > li {
    text-align: center;
}

.menubox-list > li a {
    width: 100%;
    height: 100%;
    padding: 2.2rem;
}

/* section (S) */
.section.section-width__wide:not(.main-banner__visual) {
    max-width: 1920px;
}

.section:not(.section-no__margin) {
    margin: 15rem auto;
}

.section-width__limit {
    width: 92%;
    max-width: 1440px;
    padding: 0 2rem;
}

/* section (E) */



/* products */


.product-list {
    display: grid;
    gap: 2rem; /* 간격 유지 */
    grid-template-columns: repeat(2, 1fr); /* 기본값: 2열 */
    box-sizing: border-box;
}

.product-list > li {
    background-color: var(--white);
    box-sizing: border-box;
}

 @media (min-width: 1200px) {
    .product-list {
        grid-template-columns: repeat(4, 1fr); /* 4개 열 */
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr); /* 3개 열 */
    }
}

@media (max-width: 767px) and (min-width: 631px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr); /* 2개 열 */
    }
}
@media (max-width: 630px) and (min-width: 480px) {
    .product-list {
        grid-template-columns: repeat(2, minmax(180px, 1fr)); /* 최소 크기 180px */
    }
}
/* 반응형 설정 */
@media (max-width: 479px) {
    .product-list {
        grid-template-columns: repeat(2, minmax(150px, 1fr)); /* 최소 크기 150px로 설정 */
    }
}
@media (max-width: 478px) and (min-width: 321px) {
    .product-list {
        grid-template-columns: repeat(2, minmax(120px, 1fr)); /* 최소 크기 180px */
    }
}
@media (max-width: 320px) {
    .product-list {
        grid-template-columns: 1fr; /* 한 줄로 표시 */
    }
}
.product-list > li > a {
    width: 100%;
    height: 100%;
    padding: 1.2rem 1.2rem 2.4rem;
}
.product-list > li > a > .product-thumbnail {
    width: 100%;
    background-color: var(--light-gray);
    margin-bottom: 1.2rem;
}
.product-list > li > a > .product-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(7px 4px 7px #00000060);
}
.product-info {
    flex-direction: column;
}
.product-info > .item-brand {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
    margin-bottom: 0.45rem;
    letter-spacing: 0;
}
.product-info > .item-title {
    font-size: var(--font-size-sm);
    color: var(--txt-color-light);
    margin-bottom: 1.4rem;
    letter-spacing: 0;
}
.product-info > .item-price {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    letter-spacing: 0;
}


/* footer (S) */
.footer {
    width: 100%;
    padding: 4rem 12rem;
    transform: translateY(0%);
    margin-top: 80px;
    background-color: var(--dark-gray);
    color: var(--light-gray);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-light);
}

.footer-contents {
    justify-content: space-between;
    position: relative;
}

.footer-contents .logo {
    width: 10%;
    max-width: 140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.35;
}

.footer-contents .logo img {
    width: 100%;
    object-fit: cover;
}

.footer-contents__list {
    margin-bottom: 1.8rem;
}

.footer-contents__list li > a {
    font-weight: var(--font-weight-medium);
    padding: 0.4rem 1.2rem;
}

.company-infowrap p {
    font-weight: var(--font-weight-medium);
    margin-left: 1.2rem;
}

.company-info__list {
    margin-left: 1.2rem;
}

.company-info__list > li:not(:last-child) {
    margin-bottom: 0.8rem;
}

.footer-service {
    margin-right: 1.2rem;
    flex-direction: column;
}

.footer-service p:not(.csnumber) {
    margin-bottom: 0.5rem;
    font-size: var(--font-size-sm);
    font-weight: var(--text-light);
}

.csnumber {
    font-size: var(--font-size-xxxl);
    margin-bottom: 1.4rem;
}

.csnumber a {
    font-weight: var(--font-weight-bold);
}

.footer-snsicons {
    margin-top: auto;
}

.snsicons-list li > a {
    width: 23px;
}

.snsicons-list li > a img {
    width: 100%;
}

.snsicons-list li:not(:last-child) {
    margin-right: 1rem;
}

.footer-copyright {
    margin-top: 2rem;
    text-align: center;
    color: var(--white80);
    font-weight: var(--font-weight-medium);
}

.footer-wrap__mobile {
    display: none;
    padding-bottom: 55px;
}

.footer-wrap__mobile > .logo {
    margin-bottom: 2rem;
}

.footer-wrap__mobile > .logo img {
    margin: 0 auto;
}

.m-footer__contenttitle {
    color: var(--white);
    margin: 0 auto;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    width: 90%;
    padding: 1.8rem 0;
    justify-content: space-between;
}

.m-footer__contenttitle span {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.m-footer__contenttitle span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.m-footer__contentinner {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.m-footer__contentinner > .company-info__list {
    padding-left: 2rem;
}

.m-footer-infolist.open .m-footer__contentinner {
    max-height: 200px;
    opacity: 1;
}

/* navbar only mobile */
.navbar-only__mobile {
    width: 100%;
    background-color: var(--white);
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 99;
}

.navbar-only__mobile > ul {
    height: 55px;
    justify-content: space-between;
    align-items: center;
}

.navbar-only__mobile > ul > li {
    width: 20%;
    height: 100%;
}

.navbar-only__mobile > ul > li button,
.navbar-only__mobile > ul > li a {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.navbar-only__mobile > ul > li button > img,
.navbar-only__mobile > ul > li a > img {
    width: 25px;
    height: 25px;
    margin: 0 auto;
}

.navbar-only__mobile > ul > li:last-child {
    border: none;
}

/* footer (E) */
